.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store
Icon\r
Icon?
.*
!/.gitignore
Rlocalsettings.RData
Rscript.e*
Rscript.o*
bash.e*
bash.o*
notebooks/cache/*
notebooks/*.pdf
notebooks/*.html
notebooks/*_cache/*
negative-affect/subject_mask_task_output/*
*.nii.gz
core
