.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store
Icon\r
Icon?
.*
!/.gitignore
Rlocalsettings.RData
Rscript.e*
Rscript.o*
notebooks/cache/*
notebooks/*.pdf
negative-affect/subject_mask_task_output/*
